body {
    width: 1280px;
    height: 9018px;
    margin: 0 auto;
    position: relative;
    display: block;
    background-color: #2D491E;
}
h1, h2, h3, .h2number1, .h2number2, .h2number3, .h2number4, .h2number5, 
.h2number6, .h2number7, .h2number8, .h2circle1, .infodescription p, 
.h2circle2, .h2circle3, .h2circle4, .h2circle5, .h2circle6, .h2circle7, .h2circle8,
.zero p, .eleven p, .h-number, .b-number, .l-number, .free, .museosans, .geometric,
.num, .leftnum, .rightnum, .three, .eight, .seven, .one, .nine, .bignine,
.xxx, .filling p {
    color: #ABD765;
}
.who h3, h4, .infoitem p, .navque p, .h-text, .reversealphabet, .alphabet {
    color: #2D491E;
}
h1, .navque p, .h-number, .b-number, .l-number, .num {
    font-family: 'MuseoSansCyrl-700';
}
.h2number1, .h2number2, .h2number3, .h2number4, .h2number5, .h2number6,
.h2number7, .h2number8, h2 {
    font-family: 'MuseoSansCyrl-700Italic';
    font-size: 40px;
    line-height: 28px;
    position: absolute;
}
.infoitem p, .infodescription p, h3, .zero p, .museosans, .nine,
.bignine, .figure7, .figure8 {
    font-family: 'MuseoSansCyrl-900';
}
.eleven p {
    font-family: 'MuseoSansCyrl-900Italic';
}
h4, .one, .figure2, .figure9 {
    font-family: 'MuseoSansCyrl-500Italic';
}
.h2circle1, .h2circle2, .h2circle3, .h2circle4, .h2circle5, .h2circle6, .h2circle7, .h2circle8 {
    position: absolute;
    font-size: 96px;
    line-height: 67px;
    font-family: 'MuseoSansCyrl-100';
}
.degree0 p, .degree11 p, .figure6 {
    font-family: 'MuseoSansCyrl-900Italic';
    color: #2D491E;
    /* Толщина и цвет обводки */
    -webkit-text-stroke: 3px #ABD765;
}
.h-text, .leftnum, .rightnum, .figure3, .figure5, .figure3-3 {
    font-family: 'MuseoSansCyrl-500';
}
.free, .figure9-2 {
    font-family: 'MuseoSansCyrl-300Italic';
}
.geometric, .eight, .figure3-2 {
    font-family: 'MuseoSansCyrl-300';
}
.three {
    font-family: 'MuseoSansCyrl-100Italic';
}
.seven, .figure6-2, .figure7-2 {
    font-family: 'MuseoSansCyrl-700Italic';
}
.xxx, .figure1, .figure4, .figure0 {
    font-family: 'MuseoSansCyrl-100';
}
.cover {
    display: flex;
    flex-direction: column;
    justify-content: center
}
/* фон на обложке */
.cover img {
    height: 293px;
    width: 891px;
    margin-top: 198px;
    margin-left: 194px;
}

/* название шрифта на обложке */
h1 {
    font-size: 200px;
    margin-top: 0px;
    margin-left: 90px;
    line-height: 142px;
}
.about {
    height: 693px;
    position: relative;
}
.header1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.h2circle1 {
    left: 90px;
    top: 160px;
}
.h2number1 {
    left: 109px;
    top: 188px;
}
.header1 h2 {
    left: 165px;
    top: 188px;
}
/* дизайнер, год, страна */
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 230px;
    padding-left: 90px;
}
.infoitem p {
    font-size: 90px;
    line-height: 64px;
    margin-top: 60px;
    /* Толщина и цвет обводки */
     -webkit-text-stroke: 3px #ABD765;
}
.infodescription p {
    font-size: 30px;
    line-height: 21px;
    margin-top: 20px;
}
/* навигационная панель справа */
.navigation img {
    margin-left: 785px;
    margin-top: -565px;
    position: absolute;
}
.arrow img {
    position: relative;
    float: right;
    right: 135px;
    top: 41px; 
}
.rectangle img {
    position: relative;
    float: right;
    right: 406px;
    top: 62px;
}
.navque p {
    font-size: 30px;
    line-height: 18px;
    position: relative;
    float: right;
    right: 421px;
    bottom: 487px;
}
.downarrow img {
    left: 37px;
    top: 1128px;
}
.leftarrow1 img {
    position: relative;
    left: 325px;
    bottom: 2px;
}
.leftarrow2 img {
    position: relative;
    left: 325px;
    top: 70px;
}
h3 {
    font-size: 35px;
    line-height: 25px;
}
.who h3 {
    position: absolute;
    left: 826px;
    top: 277px;
}
h4 {
    font-size: 25px;
    line-height: 18px;
    margin-top: 12px;
}
.h4 {
    position: absolute;
    left: 826px;
    top: 336px;
} 
.when h3 {
    position: absolute;
    left: 826px;
    top: 710px;
}
.where h3 {
    position: absolute;
    left: 826px;
    top: 798px;
} 

/* угол наклона курсива */
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h2circle2 {
    left: 387px;
    top: 1646px;
}
.h2number2 {
    left: 405px;
    top: 1674px;
}
.header2 h2 {
    left: 462px;
    top: 1674px;
}
.zero, .eleven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 226px;
}
.zero p, .eleven p {
    font-size: 316px;
    line-height: 226px;
    margin-left: 90px;
}
.elka0 {
    position: relative;
    left: 25px;
} 

.elka11 {
    position: relative;
    left: 35px;
}
.graph0 {
    position: relative;
    float: right;
    left: 48px;
}
.graph11 {
    position: relative;
    float: right;
    left: 67px;
    top: 2px;
}
.degree0 p, .degree11 p {
    font-size: 45px;
    line-height: 31px;
}

.zero {
    margin-top: 465px;
}
.eleven {
    margin-top: 64px;
    margin-bottom: 160px;
}
.degree0 {
    float: right;
    right: 139px;
    position: relative;
}
.degree11 {
    float: right;
    right: 159px;
    position: relative;
}
/* начертания */
.header3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.h2circle3 {
    right: 331px;
    top: 2502px;
}
.h2number3 {
    right: 349px;
    top: 2530px;
}
.header3 h2 {
    right: 90px;
    top: 2530px;
}
.braceletes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1097px;
    height: 375px;
    margin-bottom: 260px;
}
.h-bracelet {
    margin-top: 181px;
    margin-left: 90px;
}
.h-numbertext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.h-number {
    position: relative;
    font-size: 15px;
    transform: rotate(-90deg);
    bottom: 61px;
    right: 24px;
}
.h-text {
    font-size: 28px;
    position: relative;
    left: 155px;
    bottom: 60px;
}
.b-bracelet {
    margin-top: 26px;
    margin-left: 90px;
}
.b-numbertext, .reversealphabet, .alphabet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.b-number {
    position: relative;
    font-size: 15px;
    transform: rotate(90deg);
    float: right;
    bottom: 56px;
    left: 120px;
}
.reversealphabet, .alphabet {
    font-size: 28px;
}
.ya, .yu, .ae, .soft, .ii, .solid {
    font-family: 'MuseoSansCyrl-900';
}
.tsh, .sh, .tch, .tz, .h, .f {
    font-family: 'MuseoSansCyrl-700';
}
.u, .t, .s, .r, .p, .o, .n {
    font-family: 'MuseoSansCyrl-500';
}
.m, .l, .k, .iy, .i, .z {
    font-family: 'MuseoSansCyrl-300';
}
.j, .yo, .e, .d, .g, .v, .b, .a {
    font-family: 'MuseoSansCyrl-100';
}

.reversealphabet {
    width: 872px;
    position: relative;
    bottom: 62px;
    left: 58px;
}


.l-bracelet {
    margin-top: 26px;
    margin-left: 90px;
}

.l-number {
    position:relative;
    font-size: 15px;
    transform: rotate(-90deg);
    bottom: 519px;
    right: 490px;
}


.ya2, .yu2, .ae2, .soft2, .ii2, .solid2 {
    font-family: 'MuseoSansCyrl-900Italic';
}
.tsh2, .sh2, .tch2, .tz2, .h2, .f2 {
    font-family: 'MuseoSansCyrl-700Italic';
}
.u2, .t2, .s2, .r2, .p2, .o2, .n2 {
    font-family: 'MuseoSansCyrl-500Italic';
}
.m2, .l2, .k2, .iy2, .i2, .z2 {
    font-family: 'MuseoSansCyrl-300Italic';
}
.j2, .yo2, .e2, .d2, .g2, .v2, .b2, .a2 {
    font-family: 'MuseoSansCyrl-100Italic';
}

.alphabet {
    width: 872px;
    position: relative;
    bottom: 78px;
    left: 170px;
}

/* ticket */
.ticket {
    margin-left: 90px;
    position: absolute;
}
.ticketfilling {
    display: flex;
    flex-direction: row;
    width: 954px;
    height: 265px;
}
.museo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 673px;
    height: 256px;
    margin-left: 90px;
}
.free {
    position: relative;
    font-size: 70px;
    bottom: 346px;
    line-height: 49px;
}
.museosans {
    position: relative;
    font-size: 120px;
    line-height: 86px;
    bottom: 333px;
}
.geometric {
    position: relative;
    font-size: 35px;
    line-height: 25px;
    bottom: 250px;
}
.barcode {
    display: flex;
    flex-direction: row;
    width: 128px;
    height: 265px;
    align-items: center;
}
.num {
    font-size: 40px;
    transform: rotate(-90deg);
    position: relative;
    left: 37px;
    bottom: 352px;
}
.code {
    display: flex;
    flex-direction: column;
    width: 21px;
    height: 186px;
}
.leftnum, .rightnum {
    font-size: 30px;
    transform: rotate(-90deg);
    position: relative;
    left: 2px;
}
.leftnum {
    bottom: 195px;
}
.rightnum {
    bottom: 342px;
}
/* цифры */
.header4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.h2circle4 {
    right: 241px;
    top: 3692px;
}
.h2number4 {
    right: 260px;
    top: 3720px;
}
.header4 h2 {
    right: 90px;
    top: 3720px;
}
.trees {
    margin-left: 90px;
    position: absolute;
    top: 3839px;
}
.three p {
    font-size: 81px;
    position: relative;
    width: 45px;
    left: 145px;
    top: 1054px;
}
.eight p {
    font-size: 120px;
    position: relative;
    width: 72px;
    left: 270px;
    top: 1171px;
}
.one p {
    font-size: 81px;
    position: relative;
    width: 40px;
    left: 930px;
    top: 869px;
}
.seven p {
    font-size: 80px;
    position: relative;
    width: 45px;
    left: 462px;
    top: 872px;
}
.nine p {
    font-size: 134px;
    position: relative;
    width: 83px;
    left: 876px;
    top: 889px;
}
.zoomzoom {
    width: 411px;
    height: 455px;
    margin-left: 666px;
    position: absolute;
    top: 4386px;
}
.bignine {
    width: 278px;
    height: 278px;
    margin-left: 800px;
    position: absolute;
    top: 4384px;
}
.basketimg {
    width: 330px;
    height: 330px;
    margin-left: 334px;
    position: absolute;
    top: 4416px;
}
.xxx {
    font-size: 80px;
    position: relative;
    left: 335px;
    top: 939px;
}

.filling p {
    font-size: 50px;
    position: absolute;
}

.figure3 {
    left: 378px;
    top: 4615px;
    position: absolute;
}
.figure2 {
    left: 438px;
    top: 4674px;
    transform: rotate(106deg);
    position: absolute;
}
.figure1 {
    left: 407px;
    top: 4700px;
    position: absolute;
}
.figure4 {
    left: 430px;
    top: 4616px;
    transform: rotate(28deg);
    position: absolute;
}
.figure7 {
    left: 439px;
    top: 4669px;
    position: absolute;
}
.figure3-2 {
    left: 478px;
    top: 4704px;
    transform: rotate(70deg);
    position: absolute;
}
.figure9 {
    left: 476px;
    top: 4621px;
    transform: rotate(38deg);
    position: absolute;
}
.figure6 {
    left: 473px;
    top: 4657px;
    transform: rotate(1deg);
    position: absolute;
}
.figure5 {
    left: 475px;
    top: 4707px;
    transform: rotate(-30deg);
    position: absolute;
}
.figure6-2 {
    left: 547px;
    top: 4639px;
    transform: rotate(97deg);
    position: absolute;
}
.figure9-2 {
    left: 511px;
    top: 4668px;
    transform: rotate(1deg);
    position: absolute;
}
.figure0 {
    left: 551px;
    top: 4700px;
    transform: rotate(55deg);
    position: absolute;
}
.figure3-3 {
    left: 548px;
    top: 4657px;
    transform: rotate(10deg);
    position: absolute;
}
.figure7-2 {
    left: 570px;
    top: 4700px;
    transform: rotate(12deg);
    position: absolute;
}
.figure8 {
    left: 588px;
    top: 4658px;
    transform: rotate(17deg);
    position: absolute;
}


.player {
    width: 1099px;
    height: 1201px;
    position: absolute;
    margin-left: 90px;
    bottom: 2793px;
}
.leafs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 972px;
    height: 465px;
}
.leftleaf {
    position: relative;
    margin-left: 151px;
    top: 2522px;
}
.centerleaf {
    position: relative;
    margin-left: 78px;
    top: 2522px;
}
.rightleaf {
    position: relative;
    margin-left: 78px;
    top: 2518px;
}
.lines {
    width: 1099px;
    height: 85px;
    position: absolute;
    margin-left: 90px;
    bottom: 1630px;
}
.shoes {
    width: 153px;
    height: 783px;
    position: absolute;
    left: 1037px;
    bottom: 804px;
}
.forestfooter {
    width: 1100px;
    height: 424px;
    position: absolute;
    left: 90px;
    bottom: 174px;
}
.textfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 174px;
    background-color:#ABD765;
    margin-top: 8844px;
}